body{
    height: 60vh;
    background: linear-gradient(to bottom, blue, aqua);
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

label{
    display: flex;
    justify-content: center;
    flex-direction: column;
}